<form (ngSubmit)="onSubmit()" class="login-form">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="loginDto.username" name="username">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide() ? 'password' : 'text'" [(ngModel)]="loginDto.password" name="password"/>
    <button
      matIconButton
      matSuffix
      (click)="clickEvent($event)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide()"
    >
      <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <button matButton="filled">Login</button>
</form>

<section class="router-link-section">
  <a class="additional-text">You don't have an account?</a>
  <button matFab extended routerLink="/register"> Go to Register </button>
</section>
