<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>Create trip here</mat-panel-title>
    </mat-expansion-panel-header>
    <form (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Name of trip</mat-label>
        <input matInput type="text" [(ngModel)]="createDto.name" name="tripName">
      </mat-form-field>
      <button matButton="tonal" >Create</button>

        <table mat-table [dataSource]="groupCheckList" class="mat-elevation-z8">

            <ng-container matColumnDef="check-button">
                <th mat-header-cell *matHeaderCellDef> Add </th>
                <td mat-cell *matCellDef="let element;let i = index"> 
                    <mat-checkbox [(ngModel)]="element.isChecked" class="example-margin" name="checkbox{{i}}"></mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.group.name}} </td>
            </ng-container>

            <ng-container matColumnDef="created-at">
                <th mat-header-cell *matHeaderCellDef> Created at </th>
                <td mat-cell *matCellDef="let element"> {{element.group.createdAt}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
    </form>
  </mat-expansion-panel>
</mat-accordion>
